<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="todoItem">
    <img [src]="todoItem.imageUrl" />
    <ion-card-header>
      <ion-card-subtitle>Thing to do</ion-card-subtitle>
      <ion-card-title>{{todoItem.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{todoItem.location}}
    </ion-card-content>
    <p style="text-align:center">
      <ion-button fill="outline" color="danger" (click)="deleteItem()">Delete Item</ion-button>
    </p>
  </ion-card>
 
</ion-content>
