<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/add">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      To do app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let todo of todoList" [routerLink]="['/detail/',todo.id]">
      <ion-avatar slot="start">
        <img [src]="todo.imageUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{todo.name}}</h2>
        <p class="ion-text-wrap">{{todo.location}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
  
</ion-content>
